# ---------------------------------------------------------
# Python cache / build artifacts
# ---------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.manifest
*.spec

# ---------------------------------------------------------
# Virtual environments
# ---------------------------------------------------------
venv/
.venv/
env/
ENV/

# ---------------------------------------------------------
# Editor / OS files
# ---------------------------------------------------------
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.iml

input/*
!input/.gitkeep

output/*
!output/.gitkeep


